.search-btn {
    color: blue;
    
}

.save-post {
    display: block;
}

#post-content{
    
}
#description-content{
    text-align: left;
}


.table-post {
    border: 1px solid;
    text-align: center;
}