.page-paner {
  background-image: url(https://theme.hstatic.net/200000639001/1001045841/14/page-banner-bg.jpg?v=68);
  position: relative;
  padding: 35px 0px 60px;
  color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

}

.home-title:after {
  content: '';
  height: 2px;
  position: absolute;
  width: 100%;
  background: #222222;
  bottom: 10px;
}

element.style {}

ul.list-tag li {
  float: left;
  padding: 10px 23px;
  border: 1px solid #ccc;
  margin-right: 15px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}


ul.list-tag li {
  float: left;
  padding: 10px 23px;
  border: 1px solid #ccc;
  margin-right: 15px;
  margin-bottom: 15px;
}

* {
  font-family: Trirong, sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

* {
  font-family: Trirong, sans-serif !important;
}